
/* ====== главная ====== */

body {
  min-width: 960px;

  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}

h2 {
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: bold;
  line-height: 42px;

  color: #000000;
}

h3 {
  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;

  color: #000000;
}

main {
  outline: 1px solid red;
}

.body-index {
  color: #ffffff;
  background: #000000 url('../img/index/bg-main.jpg') no-repeat center top;
}


.index-header {
  margin-bottom: 60px;

  color: #ffffff;
  outline: 1px solid red;
  background: #000000;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;

  outline: 1px solid green;
}

.header-logo {
  float: left;
  width: 111px;
  padding: 22px 53px 23px 17px;
  /*margin-right: 20px;*/

  outline: 1px solid yellow;
}

.header-logo a,
.header-logo img {
  display: block;

  outline: 1px solid blue;
}

.main-nav {
  float: left;
  width: 600px;
  margin-right: 20px;

  outline: 1px solid yellow;
}

.main-nav ul {
  margin: 0;
  padding: 0;

  font-size: 0;
  list-style: none;
}

.main-nav li {
  display: inline-block;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;

  outline: 1px solid orange;
}

.main-nav a {
  display: block;
  padding: 27px 21px;

  text-decoration: none;

  color: #ffffff;
  outline: 1px solid blue;
}

.main-nav a:hover {
  background: #242424;
}

.user {
  float: right;
  max-width: 240px;

  outline: 1px solid yellow;
}

.login {
  position: relative;

  display: inline-block;
  padding: 27px 21px 27px 50px;

  font-size: 16px;
  line-height: 20px;
  vertical-align: top;
  text-decoration: none;

  color: #ffffff;
  /*outline: 1px solid red;*/
}

.login::before {
  content: '';
  position: absolute;
  top: 27px;
  left: 20px;

  width: 18px;
  height: 18px;

  background: red;
  /*outline: 1px solid red;*/
}

.login:hover {
  background: #242424;
  /*opacity: 0.3;*/
}

.clearfix::after {
  content: '';

  display: table;
  clear: both;
}

.main-logo {
  width: 368px;
  height: 204px;
  margin: 0 auto 26px;

  outline: 1px solid yellow;
}

.main-logo img {
  width: 368px;
  height: 204px;
}

.features {
  margin-bottom: 65px;

  outline: 1px solid yellow;
}

.feature {
  float: left;
  width: 300px;
  margin-right: 20px;

  text-align: center;

  outline: 1px solid orange;
}

.feature:last-child {
  margin-right: 0;
}

.feature .name {
  position: relative;

  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;

  font-size: 30px;
  line-height: 42px;
}

.feature .name::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;

  display: block;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  /*transform: translateX(-50%);*/

  background-color: #ffffff;

  transform: rotate(45deg);
}

.feature p {
  margin: 10px;
  margin-bottom: 0;
}

.index-content {
  margin-bottom: 35px;
  padding: 52px 80px;

  color: #000000;
  outline: 1px solid yellow;
  /* >>> здесь добавим еще картинку тени <<< */
  background: #f8f5f2 url('../img/index/bg-noise1.jpg');
}

.index-content .left {
  float: left;
  width: 380px;

  outline: 1px solid orange;
}

.index-content .right {
  float: right;
  width: 300px;

  outline: 1px solid orange;
}

.index-content .title {
  margin: 0 0 25px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;

  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;

  font-family: 'PT Sans Narrow', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;

  color: #ffffff;
  border: none;
  background-color: #000000;

  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.5;

  cursor: default;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

.gallery {
  position: relative;

  height: 260px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.gallery-content {
  height: 164px;
  margin: 0;

  border: 7px solid #ffffff;
  outline: 1px solid orange;
  background-color: #cccccc;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.appointment-form input {
  float: left;
  width: 106px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;

  font: inherit;
  text-transform: inherit;

  color: inherit;
  border: 2px solid #000000;
  background-color: #f9f6f3;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}


.appointment-form .btn {
  clear: both;
  width: 100%;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.index-footer {
  margin-top: 65px;
  padding-top: 60px;

  color: #ffffff;
  outline: 1px solid red;
  background: #252525 url('../img/index/bg-footer.jpg');
}

.catalog-footer {
  padding-top: 60px;

  color: #ffffff;
  outline: 1px solid red;
  background: #252525 url('../img/index/bg-footer.jpg');
}

.footer a {
  color: #ffffff;
}

.footer a:hover {
  text-decoration: none;
}

.footer .left {
  float: left;
  width: 380px;
  margin-right: 20px;

  outline: 1px solid yellow;
}

.footer .middle {
  float: left;
  width: 300px;
  margin-right: 20px;

  text-align: center;

  outline: 1px solid yellow;
}

.footer .middle p {
  margin: 0;
  margin-bottom: 15px;
}

.footer .social {
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;

  font-size: 0;
  vertical-align: top;

  background: #000000 url('../img/index/spritesheet.png') no-repeat;
  /*  transition: 
    background-position 0.5s,
    background-color 0.5s;*/

    /*outline: solid 1px red;*/
}

.footer .social-vk {
    background-position: center -420px;
}

.footer .social-fb {
    background-position: -4px -10px;
}

.footer .social-insta {
    background-position: -8px -133px;
}

.footer .social:hover {
  background-color: #fff;
}

.footer .social-vk:hover {
  background-position: center -476px;
}

.footer .social-fb:hover {
  background-position: -4px -72px;
}

.footer .social-insta:hover {
  background-position: -8px -193px;
}



.footer .right {
  float: right;
  max-width: 160px;

  outline: 1px solid yellow;
}

.footer .right p {
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
}

.footer .right .btn {
  margin-right: 0;
}

.footer .right .btn:hover {
  color: #000000;
  background-color: #ffffff;
}

/* ====== каталог ====== */

.catalog-header {
  background-color: #000;

  outline: 1px solid red;
}

.main-catalog {
  background: #f9f6f3 url(../img/catalog/bg-main.jpg) no-repeat center top;
}

.main-catalog .top {
  padding-top: 55px;

  outline: 1px solid yellow;
}

.main-catalog ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-catalog .top li {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}

.main-catalog .top li::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -20px;

  width: 8px;
  height: 8px;
  
  transform: rotate(45deg);
  background-color: #000;
}

.main-catalog .top li:last-child {
  color: #c1bfbd;
}

.main-catalog .top li:last-child::after {
  display: none;
}

.main-catalog .top a {
  text-decoration: none;
  color: #000;
}

/* \/ \/ \/ \/ \/ \/ ФОРМА \/ \/ \/ \/ \/ */


.filter {
  float: left;
  width: 220px;
  margin-right: 20px;

  outline: 1px solid yellow;
}

.filter fieldset {
  border: none;
}

.filter input {
  display: none;
}

.filter label {
  position: relative;
  padding-left: 44px;
  cursor: pointer;
  
  outline: 1px solid green;
}

.company li {
  position: relative;

}

.company li span {
  content: "";
  position: absolute;

  width: 16px;
  height: 16px;

  background-color: #f9f6f3;
  border: 2px solid #000;
}

.company input[type="checkbox"]:checked ~ label::before,
.company input[type="checkbox"]:checked ~ label::after {
  content: "";
  position: absolute;
  left: 3px;
  top: 6px;

  width: 14px;
  height: 2px;

  background-color: #000;
  /*transform: rotate(45deg);*/
}

.company input[type="checkbox"]:checked ~ label::before {
  transform: rotate(45deg);
}

.company input[type="checkbox"]:checked ~ label::after {
  transform: rotate(-45deg);
}

.company input[type="checkbox"]:disabled ~ label {
  cursor: default;
  color: #000;
  opacity: 0.3;
}

.company input[type="checkbox"]:disabled + span {
  border: 2px solid rgba(0,0,0,0.3);
}

.group input[type="radio"] ~ label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f9f6f3;
  border: 2px solid #000;
}

.group input[type="radio"]:checked ~ label::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 3px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
}

.group input[type="radio"]:disabled ~ label {
  cursor: default;
  color: #000;
  opacity: 0.3;
}

.filter label:hover {
  color: #663d15;
}

.btn {

}

/*  /\ /\ /\ /\ /\ /\  ФОРМА  /\ /\ /\ /\ /\ */


/*  --------  товары --------  */

.items {
  float: right;
  width: 700px;

  outline: 1px solid yellow;
}

.item {
  display: inline-block;
  width: 220px;
  margin-top: 20px;
  margin-right: 17px;
  padding-bottom: 17px;

  vertical-align: top;
  background-color: #fff;

  outline: 1px solid orange;
}

.item h3 {
  padding-left: 15px;
}

.item h3 a {
  display: block;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;

  color: #000;
  text-decoration: none;
}

.item h3 a span {
  display: block;
}

.item h3 a span:first-child {
  text-transform: none;
}

.item .price {
  font-size: 0;
  text-align: center;
}

.item .price span {
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  display: inline-block;
  width: 109px;
  padding: 15px 0;
  background-color: #e5e5e5;
}

.item .price .btn {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  width: 79px;
  padding: 15px 0;
  margin: 0; 
}

.item:nth-child(3n+3) {
  margin-right: 0;
}

.item:nth-child(-n+3) {
  margin-top: 0;
}

.paginator {
  margin-top: 45px;

  outline: 1px solid yellow;
}

/*  --------  товары --------  */

.catalog-footer {
  padding-top: 60px;

  outline: 1px solid red;
}

/* ====== товар ====== */

.item-gallery {
  float: left;
  width: 480px;

  outline: 1px solid yellow;
}

.image {
  /*margin-right: 20px;*/
  outline: 1px solid orange;
}

.description {
  float: right;
  width: 400px;
  padding: 0 10px;

  outline: 1px solid yellow;
}



/*   -------------- спрайты   ----------------   *\ 

.sprite {
    background-image: url(../img/index/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-ic-fb {
    width: 12px;
    height: 22px;
    background-position: -20px -20px;
}

.sprite-ic-fb2 {
    width: 12px;
    height: 22px;
    background-position: -20px -82px;
}

.sprite-ic-inst {
    width: 21px;
    height: 21px;
    background-position: -20px -144px;
}

.sprite-ic-inst2 {
    width: 21px;
    height: 21px;
    background-position: -20px -205px;
}

.sprite-ic-locked {
    width: 15px;
    height: 17px;
    background-position: -20px -266px;
}

.sprite-ic-login {
    width: 18px;
    height: 16px;
    background-position: -20px -323px;
}

.sprite-ic-user {
    width: 15px;
    height: 15px;
    background-position: -20px -379px;
}

.sprite-ic-vk {
    width: 25px;
    height: 16px;
    background-position: -20px -434px;
}

.sprite-ic-vk2 {
    width: 25px;
    height: 16px;
    background-position: -20px -490px;
}

 
\*  ------------------------------------------------------  */
